<div class="col-sm-2 col-xs-6 sidebar-offcanvas" id="sidebar" role="navigation">
	<div class="accordion" id="myAccordion"> 
		<a href="customer_creation.php" class="list-group-item ">
			Customer
		</a>		
		<a href="officer_creation.php" class="list-group-item ">
			Officers
		</a> 
		<a href="items.php" class="list-group-item">
			Items
		</a>
		<a href="orders.php" class="list-group-item">
			Orders
		</a>
		<a href="outstanding.php" class="list-group-item">
			Outstanding
		</a>
	</div>
		
		<!--panel 
		<div class="panel"> <a href="#" data-toggle="collapse" data-target="#collapsible-admin" data-parent="#myAccordion" class="list-group-item"><span class="glyphicon glyphicon-user"></span>Admin<small>+</small></a>
			<div id="collapsible-admin" class="collapse sub-nav"> <a href="#" class="list-group-item">Customer</a> <a href="#" class="list-group-item">Loan</a> <a href="#" class="list-group-item">Operation</a> <a href="#" class="list-group-item">Product</a> </div>
		</div>
		panel-->
</div>